@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 22% 13%;
    --foreground: 0 0% 100%;

    --card: 230 22% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 230 22% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 265 89% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 273 90% 61%;
    --secondary-foreground: 0 0% 100%;

    --muted: 230 22% 20%;
    --muted-foreground: 0 0% 80%;

    --accent: 273 71% 35%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 230 22% 20%;
    --input: 230 22% 20%;
    --ring: 265 89% 50%;

    --radius: 0.5rem;

    --sidebar-background: 230 22% 13%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 265 89% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 230 22% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 230 22% 20%;
    --sidebar-ring: 265 89% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}